.grid {
    display:  grid;
    grid-template-columns: repeat(auto-fit, minmax(10vh, 1fr));
    column-gap: 2.3vw; 
    width: 80vw; 
    max-width: 50rem; 
    margin: auto auto; 
    justify-items: center; 
    justify-content: center;
}

.grid-item {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 10rem; 
    overflow: hidden;
 }


.grid-item img {
    max-width: 120%; 
    display:grid;
    align-items: center; 
}

.grid-item:hover {
    transform: scale(1.1); 
}
