/*
.navbar-nav {
    display: flex;
    justify-content: space-around; 
    flex-wrap: nowrap; 
    width: 100%;
}
*/

.nav-item {
    margin: 2; /* Remove default margin if needed */
    margin-top: -10 !important; 
}

.custom-search-btn {
    border-color: rgb(19, 150, 150) !important; 
    color: white !important; 
    background-color: rgb(19, 150, 150)!important;
}

.custom-search-btn:hover {
    background-color: rgb(12, 100, 100)!important;
}
    
.custom-search-input:focus {
    background-color: #e0f7fa !important;
    border-color: rgba(12, 100, 100, 1) !important;
    color: #000!important; 
}



/*
.navbar-brand {

    border-color: rgba(12, 100, 100, .5)  !important;
    padding: 1.25rem;

}

.navbar-toggler {
    border-color: rgba(12, 100, 100, .5)  !important;

}
*/

/* Ensure dropdown items have a visible separation with black thick lines */
/*
@media (max-width: 48em) {

    .nav-item {
        border-bottom: 0.1rem dashed  rgba(0, 0, 0, 1) ;
        justify-content: center !important;
        width:95% !important;
      }

      .nav-link {
        justify-content: center !important;
        width:95% !important;
   
    }
    .navbar-nav .nav-item:first-child {
        border-top: .11rem dashed black;
    }

}
*/

/* Resolución para celu 1 */
/*
@media (max-width: 48em) {
    
    .nav-item {
        border-bottom: 0.1rem dashed  rgba(0, 0, 0, 1) ;
        justify-content: center !important;
        width:95% !important; 
    }

      .nav-link {
        justify-content: center !important;
        width:55% !important;
    }

    .navbar-nav .nav-item:first-child {
        border-top: .11rem dashed black;
    }
    
}

@media (min-width: 770px) and (max-width: 1379px) { 
      
    .nav-item {
        border-bottom: 0.1rem dashed  rgba(0, 0, 0, 1) ;
        justify-content: center !important;
        width:95% !important;
     }

     .nav-link {
        justify-content: center !important;
        width: 55% !important;
    }

    .navbar-nav .nav-item:first-child {
        border-top: .11rem dashed black;
    }
    
}
*/

/* Resolución para celular 1 */
@media (max-width: 48em) {
    
    .navbar-brand {

        font-size: 150%;
    }
    
    .navbar-nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;
    }

    .nav-item {
        border-bottom: 0.1rem dashed rgba(60, 5, 59, 1);
        justify-content: center;
        width: 100%; 
    }

    .nav-link {
        display: flex;
        text-align: center !important;
        width: 95%; 
    }

    .navbar-nav .nav-item:first-child {
        border-top: 0.11rem dashed  rgba(60, 5, 59, 1);
    }

    .form-inline-custom{
        justify-content: center !important;
     }

 }

 /* Resolución para celu 2 */
 @media (max-width: 30em) { 
    
    .navbar-brand {

        font-size: 150%;
    }
    
    .navbar-nav {
        display: flex;
        justify-content: space-around; 
        flex-wrap: nowrap; 
        width: 100%;
    }

    .nav-item {
        border-bottom: 0.1rem dashed  rgba(60, 5, 59, 1);
        display: flex; 
        justify-content: center;
        width: 100%; 
    }

    .nav-link {
        display: flex;
        text-align: center !important;
        width: 95%; 
    }

    .navbar-nav .nav-item:first-child {
        border-top: 0.11rem dashed  rgba(60, 5, 59, 1);
    }

    .form-inline-custom{
        justify-content: center !important;
     }

 }

  /* Resolución para celu 3 */
@media (max-width: 915px) { 
    
    .navbar-brand {

        font-size: 150%;
    }
    
    .navbar-nav {
        display: flex;
        justify-content: space-around; 
        flex-wrap: nowrap; 
        width: 100%;
    }

    .nav-item {
        border-bottom: 0.1rem dashed  rgba(60, 5, 59, 1);
        display: flex; 
        justify-content: center;
        width: 100%; 
    }

    .nav-link {
        display: flex;
        text-align: center !important;
        width: 95%; 
    }

    .navbar-nav .nav-item:first-child {
        border-top: 0.11rem dashed  rgba(60, 5, 59, 1);
    }

    .form-inline-custom{
        justify-content: center !important;
     }

 }

/* Resolución para dispositivos medianos */
@media (min-width: 916px) and (max-width: 1379px) {
    .navbar-brand {

        border-right: 0.11rem dashed  rgba(60, 5, 59, 1);
        padding-right:1rem;
        padding-top:5rem;
        padding-bottom:5rem;
        font-size: 150%;
    }

    /*
    .navbar-brand {

        font-size: 150%;
    }
    
    .navbar-nav {
        display: flex;
        justify-content: space-around; 
        flex-wrap: nowrap; 
        width: 100%;
    }

    .nav-item {
        border-bottom: 0.1rem dashed rgba(0, 0, 0, 1);
        display: flex; 
        justify-content: center;
        width: 100%; 
    }

    .nav-link {
        display: flex;
        text-align: center !important;
        width: 95%; 
    }

    .navbar-nav .nav-item:first-child {
        border-top: 0.11rem dashed black;
    }

    .form-inline-custom{
        justify-content: center !important;
     }
*/
 }

/* Default styles for larger screens */
@media (min-width: 1379px) {
    
    .navbar-brand {

        border-right: 0.12em dashed  rgba(60, 5, 59, 1) !important;
        padding-right:1rem !important;
         font-size: 150% !important;

    }
    
    
    .navbar-custom{
      
        display: flex; 
        align-items: left !important; 
     
     }
     
   
}

