.nav-item {
    margin: 2;
    margin-top: -10 !important;
}

.custom-search-input {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

.custom-search-btn {
    border-color: rgb(162, 10, 162) !important;
    color: white !important;
    background-color: rgb(122, 0, 122);
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    animation: sizeChange .5s infinite;
}

.custom-search-btn:hover {
    background-color: rgb(62, 0, 62) !important;
}

.custom-search-input:focus {
    background-color: #e0f7fa !important;
    border-color: rgb(122, 10, 122) !important;
    color: #000 !important;
}

/* Resolución para celu 1 */
@media (max-width: 480px) {
    .navbar-brand {
        font-size: 150%;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;
    }

    .nav-item {
        border-bottom: 0.1rem dotted rgba(11, 60, 59, 1);
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav-link {
        display: flex;
        text-align: center !important;
        width: 95%;
    }

    .navbar-nav .nav-item:first-child {
        border-top: 0.11rem dotted rgba(11, 60, 59, 1);
    }

    .form-inline-custom {
        justify-content: center !important;
    }

    .form-inline-custom {
        padding-top: 1rem !important;
        margin-bottom: -0.25rem !important;
    }

    #carrito-navbar-img {
        list-style: none;
        width: 25% !important;
        height: 100% !important;
    }

    nav li #carrito-navbar-link {
        margin: .5rem !important;
        padding: .5rem !important;
    }
}

/* Resolución para celular 2 */
@media(min-width: 481px) and (max-width: 768px) {
    .navbar-brand {
        font-size: 150%;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;
    }

    .nav-item {
        border-bottom: 0.1rem dotted rgba(11, 60, 59, 1);
        justify-content: center;
        width: 100%;
    }

    .nav-link {
        display: flex;
        text-align: center !important;
        width: 95%;
    }

    .navbar-nav .nav-item:first-child {
        border-top: 0.11rem dotted rgba(11, 60, 59, 1);
    }

    .form-inline-custom {
        justify-content: center !important;
    }

    .form-inline-custom {
        padding-top: 1rem !important;
        margin-bottom: 0rem !important;
        padding-bottom: 1rem !important;
    }


    #carrito-navbar-img {
        list-style: none;
        width: 20% !important;
        height: 100% !important;
    }

    nav li #carrito-navbar-link {
        margin: .5rem !important;
        padding: .5rem !important;
    }
}

/* Resolución para celu 3 */
@media (min-width: 769px) and (max-width: 991px) {
    .navbar-brand {
        font-size: 150%;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;
    }

    .nav-item {
        border-bottom: 0.1rem dotted rgba(11, 60, 59, 1);
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav-link {
        display: flex;
        text-align: center !important;
        width: 95%;
    }

    .navbar-nav .nav-item:first-child {
        border-top: 0.11rem dotted rgba(11, 60, 59, 1);
    }

    .form-inline-custom {
        justify-content: center !important;
    }

    .form-inline-custom {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    #carrito-navbar-img {
        list-style: none;
        width: 15% !important;
        height: 100% !important;
    }

    nav li #carrito-navbar-link {
        margin: .5rem !important;
        padding: .5rem !important;
    }
}

/* Resolución para dispositivos medianos */
@media (min-width: 992px) and (max-width: 1378px) {
    .navbar-brand {
        padding: .25em !important;
        font-size: 150% !important;
        border: 0.15em outset rgb(21, 166, 165) !important;
    }

    #carrito-navbar-img {
        list-style: none;
        /*margin-top: 10%;*/
        width: 25%;
    }

    nav li #carrito-navbar-link {
        margin-top: 10% !important;
        margin-bottom: 10% !important;
        padding: .25rem !important;
    }
}

/* Default styles for larger screens */
@media (min-width: 1379px) {
    .navbar-brand {
        padding: .25em !important;
        font-size: 150% !important;
        border: 0.15em outset rgb(0, 162, 162) !important;
    }

    .navbar-custom {
        display: flex !important;
        align-items: left !important;
    }

    nav li #carrito-navbar-link {
        display: flex;
        background-color: rgba(0, 0, 0, 0) !important;
        margin: 0rem;
        padding: 0rem;
        margin-left: -1.35rem;
    }

    #carrito-navbar-img {
        list-style: none;
        margin-top: 10%;
        width: 25%;
    }
}

nav li #carrito-navbar-link {
    display: flex !important;
    background-color: rgba(0, 0, 0, 0) !important;
    margin: 0rem;
    padding: 0rem;
    margin-left: -1.35rem;
}

#carrito-navbar-img {
    animation: sizeChange 1s infinite;
}

#cart-count-nav {
    font-weight: bold !important;
    font-size: 1rem !important;
    background-color: rgba(122, 0, 122, 1);
    border-radius: 2rem !important;
    height: fit-content !important;
    align-items: center !important;
    margin-left: 0.15rem;
    padding: 0 .4rem;
}

@keyframes colorCycleCart {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(.25);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes colorCycleCount {
    0% {
        background-color: rgba(122, 0, 122, 1) ;
    }

    50% {
        background-color: rgba(42, 0, 42, 1);
    }

    100% {
        background-color: rgba(122, 0, 122, 1) ;
    }
}

nav li #carrito-navbar-link:hover {
    #carrito-navbar-img {
        animation: colorCycleCart 1s infinite;
    }

    #cart-count-nav {
        animation: colorCycleCount 1s infinite;
    }
}

.navbar-custom .nav-link:hover {
    animation: colorCycleNav 1s infinite;
}

@keyframes sizeChange {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.015);
    }
}

@keyframes sizeChangeCart {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.015);
    }
}

/* Delay para animaciones */
.delay-1 {
    animation-delay: 0s;
}

.delay-2 {
    animation-delay: 1s;
}

.delay-3 {
    animation-delay: 2;
}