/*
#product-p-photo {
    justify-content: center; 
    align-items: center;
    width: auto; 
    height: auto; 
    max-width: 100vw;
}
*/

.grid-container {
    /*
    width: auto;   
    height: auto;  
    max-width: 100vw;  
      padding: 1rem 1rem;
    background-color: rgba(122, 0, 122, 1);
    border: 4px solid rgba(0, 122, 122, 1);
    text-align: center;
    */
    box-sizing: border-box;
}

.nombre-producto {
    justify-content: center; 
    align-items: center;
    width: auto;
    height: auto;  
    box-sizing: border-box; 

}

.product-p-photo {
 min-height: 21.375vw;
}

.grid-item-p label {
    font-size: 1.25rem ;
    display: flex ;         
    margin-bottom: .25rem;
    justify-content: left; 
    align-items: center;  
    width: auto;
    /*font-family:  "Arcade Rounded Extended";*/
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7) ; 
}

.grid-item-p input {
    font-size: 1.25rem;
    display: flex;        
    margin-bottom: .75rem;
    justify-content: center; 
    align-items: center;
    width: 99%;
    font-family: 'Barlow Condensed', sans-serif; 
    font-weight: bold; 
     text-shadow: 0px 0px 4px rgba(255, 0, 255, 0.4); 
}

.grid-item-p label.amount {
    font-size: 1.45rem;
    display: flex;         
    margin-bottom: .25rem;
    padding: 1rem;
    justify-content: center; 
    align-items: center;  
    width: auto;
    font-family:  "Arcade Rounded Extended";
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7); 
}               

.grid-item-p-button {
    font-family:  "Arcade Rounded Extended";      
}               


.p-buttons {
    font-family:  "Arcade Rounded Extended";
    display: block;
    margin-bottom: -4rem;
    margin-top: -3rem;
    line-gap-override: -20rem;  
} 

nav {
    margin: 2rem auto; 
    padding: 0;
}

.p-button,
.exit-button,
.erase-button
{   display: flex;
    margin: 1.65rem;               
    font-family:  "Arcade Rounded Extended";
    font-size: 1rem;
    animation: sizeChange .5s infinite;
    display: block;            
    padding: .5rem;
    background-color: rgb(165, 0, 165); 
    border: 4px solid rgb(0, 165, 165); 
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease; 
    text-align: auto;  
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.p-button, .exit-button, .erase-button{
    font-family:  "Arcade Rounded Extended";
    margin-left: 2rem;
    margin-right: 2rem;
}

.p-button, .erase-button {    
    font-family:  "Arcade Rounded Extended";
    margin-bottom: -1rem;
}

.p-button {
    font-family:  "Arcade Rounded Extended";
    width: 14rem; 
}
.erase-button {
    font-family:  "Arcade Rounded Extended";
    width: 14rem; 
}

.exit-button {
    font-family:  "Arcade Rounded Extended";
    width: 12.35rem; 
}

/*
.exit-button {
    width: 13.5rem; 
    margin-left: 2rem;
    margin-right: 2rem;
    
}
*/

/*
.p-button::after, .exit-button::after, .erase-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}
*/

/*
.erase-button input {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}
*/


.items-container {
    margin: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 110%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr content 1fr;
    gap: 20px; 
}

.items-container {
    border: 0.2rem solid rgba(0, 122, 122, 1);  /* Border for the middle column */
    /*
    margin-left: 5%;
    margin-right: 5%;*/
}

/*
.foto-enlace {
    grid-column: 1 / 2; 
}
*/

.precio-producto  {

    color: yellow;
    font-size: 130%
}
.product-p-photo {
    max-width: 100%;
    height: auto;
}

.item-descripcion {
    display: flex;
    align-items: center;
}

.item-descripcion label {
    font-weight: bold;
    margin-right: 10px;
    align-items: center;
}

.item-descripcion p {
    margin: 0;
}

.item-descripcion {
    display: flex;
    flex-direction: center; 
    align-items: center; 
}

.item-descripcion:nth-child(1),
.item-descripcion:nth-child(2),
.item-descripcion:nth-child(3),
.item-descripcion:nth-child(4) {
    grid-column: 2 / 3;
    justify-content: left;
}


@media (max-width: 719px) and (orientation: portrait) {
    .item-descripcion {
        justify-content: center
        flex-direction: center;
    }
    .item-descripcion:nth-child(1),
    .item-descripcion:nth-child(2),
    .item-descripcion:nth-child(3),
    .item-descripcion:nth-child(4) {
        grid-column: 2 / 3; 
        justify-content: center;
    }
    
    .item-descripcion:nth-child(2), 
    .item-descripcion:nth-child(3) {
        justify-content: center; 
    }.grid-container {
        width: auto;   
        height: auto;  
        max-width: 100vw;  
          padding: 1rem 1rem;
        background-color: rgba(122, 0, 122, 1);
        border: 4px solid rgba(0, 122, 122, 1);
        text-align: centerM
        box-sizing: border-box;
    }
    
    .items-container {
        grid-template-columns: content;

    }
}    

.item-descripcion label {
    font-weight: bold;
    margin-right: 10px;  /* Space between label and text */
}

.item-descripcion p {
    margin: 0;
}

.p-button:hover,
.exit-button:hover,
.erase-button:hover {
    animation: sizeChange 0.5s infinite, colorCycle 1s infinite;
}

/* Animación cuando posa el puntero sobre el item del menú */
@keyframes colorCycle {
    0% { background-color: rgba(165, 0, 165, 1); }
    50% { background-color: rgba(55, 0, 55, 1); }
    100% { background-color: rgba(165, 0, 165, 1); }
}

div a img {
    max-height: 11.4rem;

}
#product-p-photo {
margin-bottom: .25rem;

}

input:focus:valid {
    background-color: rgba(255, 255, 255,1); 
}

input:not(focus):valid {
    background-color: rgba(255, 255, 255,1); 
}

input:not(focus):invalid {
    color: rgba(255, 0, 0,.9); 
    
}

.nombre-producto {
    margin-bottom: 0rem;
}

