body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Press Start 2P", system-ui;
}

header {
    text-align: center; 
}

main {
    flex: 1; 
    text-align: center;
}

h1 {
    font-size: 22px; 
}

img {
    max-width: 45%; 
    height: auto; 
}

nav {
    margin: 40px auto; 
    text-align: center;
}

nav ul {
    list-style: none; 
    padding: 0; 
}

nav li {
    display: inline; 
    margin: 0 15px; 
}

footer {
    text-align: center;
    padding: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    gap: 10px; 
    width: 80vw; 
    max-width: 1200px; 
    margin: 0 auto; 
}
.grid-item {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
    height: 200px; 
    overflow: hidden;
}
.grid-item img {
    max-width: 100%; 
    max-height: 80%; 
    display: block; 
}
.subtitle {
    background: rgba(225, 0, 255, 1); 
    color: white;
    width: 100%; 
    text-align: center; 
    padding: 5px; 
    margin-top: 5px;
}
