.grid {
    display: grid !important;
    /*grid: auto-flow;*/
    grid-template-columns:  repeat(auto-fit, minmax(17.4511rem, auto)) !important ;
    /*grid-template-rows: auto auto;*/
    /*row-gap: 3vw; 
    column-gap: 3vw; */
    /*width: 80vw; */
    max-width: 90vw !important; 
    /*margin: 10 5;*/
    height: fit-content !important;
    justify-content: center !important; 
    justify-items: center !important;
}

@media (min-width: 770px) and (max-width: 1379px) { 
    .grid {
        grid-template-columns: repeat(3, 1fr) !important; 
    }
    #item4 {
        grid-column: 2 !important; 
        grid-row: 2 !important; 
    }
}

.grid-container {
    padding: 0.5rem !important;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
}

.grid-item {
    padding:.5rem !important;
    border: 2px solid rgb(0, 165, 165) !important; 
    text-decoration: none !important;
    flex-direction: column !important; 
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    /*overflow: hidden;*/
    margin: 0.5rem !important;
    max-width: 25rem !important;
    min-width: 20vw !important;
}

.grid-item img {
    display: grid !important; 
    max-width: 100% !important; 
    max-height: 10rem !important;
    padding-bottom: 0.5rem !important;
}
/*
h2 {
    display: flex;
    background: rgba(225, 0, 255, 1); 
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7); 
    color: white;
    width: 100%;
    height: 2.5rem;
    line-height: 1.25;
    flex-direction: column; 
    text-align: center;                         
    align-items: center; 
    justify-content: center;
    font-size: 1rem;
    padding-bottom: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: .25rem;
    overflow: hidden;
 }
 */

 /*
 .subtitle {
    background: rgba(225, 0, 255, 1); 
}
*/

h2 {
    display: flex !important;
    background: rgba(225, 0, 255, 1) !important; 
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7) !important; 
    color: white !important;
    width: 100% !important;
    line-height: 1.25 !important;
    min-height: 4rem !important;
    flex-direction: column !important; 
    text-align: center !important;                         
    align-items: center !important; 
    justify-content: center !important;
    overflow: hidden !important;
    font-size: 1rem !important;
    padding-bottom: .25rem !important;
    padding-left: .25rem !important;
    padding-right: .25rem !important;
    padding-top: .25rem !important;
}

.subtitle3 {
    margin:0px !important;
    /*margin-top:0.3rem;*/
    max-width: 25rem !important;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7) !important; 
}

/*
.subtitle2 .subtitle3 {
    display:flex; 
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7); 
    background: rgba(225, 0, 255, 1); 
    color: white;
    width: 100%;
    height: 15%;
    flex-direction: column; 
    text-align: center; 
    padding: 0.3125rem; 
    margin-top: 0.3125rem; 
    box-sizing: content-box;
    align-items: center; 
    justify-content: center;
    font-size: 1rem;  
}
    */