/*
body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        background-color: black;
        color: white;
        font-family: "Press Start 2P", system-ui;
 }
        
 header {
         text-align: center; 
 }
        
 main {
       flex: 1; 
       text-align: center;
 }
        
 h1 {
     font-size: 22px; 
 }
        
 img {
      max-width: 45%; 
      height: auto; 
 }
 
 nav {
      margin: 40px auto; 
      text-align: center;
 }
 
 nav ul {
         list-style: none; 
         padding: 0; 
 }
 
 nav li {
         display: inline; 
         margin: 0 15px; 
 }
 
 footer {
         text-align: center;
         padding: 5px;
 }

 */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Press Start 2P", system-ui;
    gap: 1rem; 
    padding: 1rem; 
}

header {
    text-align: center; 
}

main {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

h1 {
    display: flex;
    flex-grow: 1;
    font-size: 1.5rem; 
}

section {
    display: flex;
    
}   

img {
    max-width: 45%; 
    height: auto; 
}

nav {
    margin: 5vh auto; 
    text-align: center;
}


nav ul {
    list-style: none; 
    padding: 0; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}


nav li {
    margin: 0 2rem; 
}


nav ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
}

nav li a {
    display: block; /* Make the link fill the entire list item */
    padding: 1em 2em; /* Add padding for a button-like appearance */
    background-color: magenta; /* Background color of the button */
    border: 2px solid cyan; /* Border color */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Optional: rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

nav li a:hover {
    background-color: rgba(255, 0, 255, 0.5); /* Change background on hover */
}


footer {
    text-align: center;
    padding: 0.5rem; 
}

@media (max-width: 48em) {

    img {
        max-width: 80%; 
    }

    nav {
        margin: 5vh auto; 
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
    }

    nav li {
        margin: 1rem 0; 
    }
}

@media (max-width: 30em) { 

    img {
        max-width: 90%; 
    }

    nav li {
        margin: 0.5rem 0; 
    }
}
